name: Docs

on:
  release:
    types: [published]

jobs:
  docs:
    name: Docs
    runs-on: ubuntu-latest
    if: "!github.event.release.prerelease"
    permissions:
      contents: read
      id-token: write
      pages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up D compiler
        uses: dlang-community/setup-dlang@v2
        with:
          compiler: dmd

      - name: Generate docs
        run: dub run -y adrdox -- -i src -o docs

      - name: Set up GitHub pages
        uses: actions/configure-pages@v5

      - name: Upload docs artifact to pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: docs

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
